/*
 * SPDX-FileCopyrightText: 2024 Aldara
 *
 * SPDX-License-Identifier: CC0-1.0
 */

/* Typography */
body {
    /* Centers the content in the viewport */
    margin: auto;
    /*
     * Ideal line length for content - Max Design
     * https://www.maxdesign.com.au/articles/em.html
     * "it seems that an ideal [line] length in em's is about 30-35ems"
     */
    max-width: 35em;
        /* Adds 1em of space to the sides of the viewport*/
		padding: 1em 1em 1em;
	/* Defines the font family */
    font-family: system-ui;
}

/* Dark mode support */
:root {
  color-scheme: light dark;
}

/* Printing support */
@media print{
  body{
    max-width:none
  }
}
